body {
  font-family:'Cabin'!important;
  background: #f9f9f9 url(../img/blogger2013/bg.png);
  color: #555555;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}

.header, header {
    background: #3AA3CB!important;
}

.logo,logo {
    width: 140px !important;
    height: 38px !important;
    background: url(../phonemon.png) no-repeat no-repeat 0px 0px !important;
    /*background-size: auto !important;*/
    background-size: 140px !important;
    padding: 0 0px 45px 120px !important;
    line-height: 41px !important;
    top: 3px !important;
    color:#333!important;
    display: inline-block;
    border-radius: 0px !important
}

header nav ul li p{color:#fff!important}

::selection {
    background: #3AA3CB!important;
    color: #fff!important;
}

.h1, h1 {
    color: #603a98!important;
}

.navmenu {
    color: #00964a!important;
}
.navmenu ul > li:hover {
    background: #00964a!important;
}

ul.tabs{border-bottom:1px solid #00964a}
ul.tabs li a:active{color:#00964a80;border-bottom:4px solid #00964a80}
ul.tabs li.current a{color:#00964a;border-bottom:4px solid #00964a}

button.color{background:#00964a;color:#fff;font-weight:bold;padding:10px;font-size:16px}
button.color:hover{background:#fff;color:#00964a}

.btn-primary {
    background-color:#00964a!important;
}

.footer,footer{background:#3AA3CB;color:#fff}

@media(max-width:8in){
.logo, logo {
    font-size: 25px;
    line-height: 35px;
    background-size: 32px;
    padding: 0 0px 9px 42px;
}
}

                .gametitle {
    position: relative;
    top: -14px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}.badge {
    background: #603a98;
    color: #fff;
    padding: 4px 4px 4px 4px;
    border-radius: 2px;
    border-right: 1px solid #fff;
    display: inherit;
}

.navbutton {
    position: relative;
    top: 0px;
    transition: ease-in 0.1s;
    display: inline-block;
    width: 142px;
    height: 137px;
    float: left;
    text-align: center;
    margin-left: 5px;
    margin-top: 10px;
}
.navbutton:hover {
    top: -20px;
}
.navbutton:active {
    top: 20px;
    transition: none;
}
.navbutton div {
    width: 140px;
    height: 140px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.navbutton div span {
    position: relative;
    top: 118px;
    font-size: 24px;
}
